name: Unit Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          cache: true

      - name: Restore
        working-directory: src
        run: dotnet restore PvWhisper.sln

      - name: Build
        working-directory: src
        run: dotnet build PvWhisper.sln --configuration Release --no-restore

      - name: Test
        working-directory: src
        run: dotnet test PvWhisper.sln --configuration Release --no-build --verbosity normal
